<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
			<li style="background-image: url(images/img_bg_1.jpg);">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
						<div class="slider-text-inner">
							<div class="desc">
								<span class="price">$800</span>
								<h2>Alato Cabinet</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and
									Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove.</p>
								<p><a href="?moreproduct" class="btn btn-primary btn-outline btn-lg">Purchase
										Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url(images/img_bg_2.jpg);">
				<div class="container">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
						<div class="slider-text-inner">
							<div class="desc">
								<span class="price">$530</span>
								<h2>The Haluz Rocking Chair</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and
									Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove.</p>
								<p><a href="?moreproduct" class="btn btn-primary btn-outline btn-lg">Purchase
										Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url(images/img_bg_3.jpg);">
				<div class="container">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
						<div class="slider-text-inner">
							<div class="desc">
								<span class="price">$750</span>
								<h2>Alato Cabinet</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and
									Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove.</p>
								<p><a href="?moreproduct" class="btn btn-primary btn-outline btn-lg">Purchase
										Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url(images/img_bg_4.jpg);">
				<div class="container">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
						<div class="slider-text-inner">
							<div class="desc">
								<span class="price">$540</span>
								<h2>The WW Chair</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and
									Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove.</p>
								<p><a href="?moreproduct" class="btn btn-primary btn-outline btn-lg">Purchase
										Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</aside>

<div id="fh5co-services" class="fh5co-bg-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-credit-card"></i>
					</span>
					<h3>Credit Card</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
						there live the blind texts. Separated they live in Bookmarksgrove</p>
					<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-wallet"></i>
					</span>
					<h3>Save Money</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
						there live the blind texts. Separated they live in Bookmarksgrove</p>
					<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-paper-plane"></i>
					</span>
					<h3>Free Delivery</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
						there live the blind texts. Separated they live in Bookmarksgrove</p>
					<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-about">
	<div class="container" id="aboutus">
		<div class="row animate-box">
			<div class="col-md-8 offset-md-2 text-center fh5co-heading">
				<h2>About Us.</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
					provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="about-content">
			<div class="row animate-box">
				<div class="col-md-6">
					<div class="desc">
						<h3>Company History</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione
							magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea
							praesentium expedita numquam?</p>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat
							velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis
							quae amet deserunt eum labore quidem minima.</p>
					</div>
					<div class="desc">
						<h3>Mission &amp; Vission</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione
							magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea
							praesentium expedita numquam?</p>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat
							velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis
							quae amet deserunt eum labore quidem minima.</p>
					</div>
				</div>
				<div class="col-md-6">
					<img class="img-fluid" src="images/img_bg_5.jpg" alt="about">
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-product" class="pt-0">
	<div class="container" id="product">
		<div class="row animate-box">
			<div class="col-md-8 offset-md-2 text-center fh5co-heading">
				<span>Cool Stuff</span>
				<h2>Products.</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
					provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid" style="background-image:url(images/product/1.jpg);">
						<div class="inner">
							<p>
								<a href="?moreproduct" class="icon"><i class="icon-shopping-cart"></i></a>
								<a href="?moreproduct" class="icon"><i class="icon-eye"></i></a>
							</p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="?moreproduct">Elevated Hearth Furnace</a></h3>
						<span class="price">&#x20B9; 17 - 15 L</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid" style="background-image:url(images/product/2.jpg);">
						<span class="sale">Sale</span>
						<div class="inner">
							<p>
								<a href="?moreproduct" class="icon"><i class="icon-shopping-cart"></i></a>
								<a href="?moreproduct" class="icon"><i class="icon-eye"></i></a>
							</p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="?moreproduct">Pilot Coke Oven</a></h3>
						<p>Operating Teampature 1300C </p>
						<span class="price"> &#x20B9; 89L - 95L</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid" style="background-image:url(images/product/3.jpg);">
						<div class="inner">
							<p>
								<a href="?moreproduct" class="icon"><i class="icon-shopping-cart"></i></a>
								<a href="?moreproduct" class="icon"><i class="icon-eye"></i></a>
							</p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="?moreproduct">Sealed Chamber Furnace</a></h3>
						<p>Operating Teampature 1200C </p>
						<span class="price"> &#x20B9; 89L - 95L</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid" style="background-image:url(images/product/4.jpg);">
						<div class="inner">
							<p>
								<a href="?moreproduct" class="icon"><i class="icon-shopping-cart"></i></a>
								<a href="?moreproduct" class="icon"><i class="icon-eye"></i></a>
							</p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="?moreproduct">Crystal Growth Furnace</a></h3>
						<p>Operating Teampature 1000C </p>
						<span class="price"> &#x20B9; 89L - 95L</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid" style="background-image:url(images/product/5.jpg);">
						<div class="inner">
							<p>
								<a href="?moreproduct" class="icon"><i class="icon-shopping-cart"></i></a>
								<a href="?moreproduct" class="icon"><i class="icon-eye"></i></a>
							</p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="?moreproduct">Horizontal Tube Furnace</a></h3>
						<p>Operating Teampature 1200C </p>
						<span class="price"> &#x20B9; 89L - 95L</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid" style="background-image:url(images/product/6.jpg);">
						<div class="inner">
							<p>
								<a href="?moreproduct" class="icon"><i class="icon-shopping-cart"></i></a>
								<a href="?moreproduct" class="icon"><i class="icon-eye"></i></a>
							</p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="?moreproduct">PIT Type Furnace</a></h3>
						<p>Operating Teampature 1200C </p>
						<span class="price"> &#x20B9; 89L - 95L</span>
					</div>
				</div>
			</div>
		</div>
		<div class="mx-auto pt-3" style="width: 150px;">
			<a href="#" class="btn btn-primary btn-outline text-center">More Product</a>
		</div>
	</div>
</div>

<div id="fh5co-testimonial" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 offset-md-2 text-center fh5co-heading">
				<span>Testimony</span>
				<h2>Happy Clients</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="row animate-box">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="images/person1.jpg" alt="user">
								</figure>
								<span>Jean Doe, via <a href="#" class="twitter">Twitter</a></span>
								<blockquote>
									<p>&ldquo;Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts. Separated they live
										in Bookmarksgrove right at the coast of the Semantics, a large language
										ocean.&rdquo;</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="images/person2.jpg" alt="user">
								</figure>
								<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
								<blockquote>
									<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the
										Semantics, a large language ocean.&rdquo;</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="images/person3.jpg" alt="user">
								</figure>
								<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
								<blockquote>
									<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the
										blind texts. Separated they live in Bookmarksgrove right at the coast of
										the Semantics, a large language ocean.&rdquo;</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>